/* INCLUDED FONTS */
@font-face {
    font-family: 'WebHostingHub-Glyphs';
    src: url('../fonts/webhostinghub-glyphs.eot');
    src: url('../fonts/webhostinghub-glyphs.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webhostinghub-glyphs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -moz-font-feature-settings: "calt=0,liga=0";
}

/* INCLUDED FONTS */
@font-face {
  font-family: "Yanone Kaffeesatz";
  src: url('../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf');/* relative path from the css file */
}

html, body, .ui-page {
    border: none !important;
    height: 100%;
    /*background:none !important;*/
    background:rgba(255, 255, 255, 0.58);
}
body{
	font-family:Yanone Kaffeesatz, Arial, Helvetica;
    background:url('../images/background.png') no-repeat !important;
    background-size:contain;
}
.ui-bar-b{
	background:#4581c2;/*00549f*/
}
.ui-bar-d{
	background:#265471;
	color:#FFF;
	text-shadow:none;
	border-color:#265471;
}
.ui-body-a{
	/*background-color:#b5dbe6;/**/
	/*background-color:#FFF;*/
	/*border:none;*/
	border:none;
	background:transparent;
}
.ui-content{
	padding:0px;
}
.debuginfo{
	background:#EBEBEB;
	padding:5px 10px;
	color:#444;
	text-shadow:none;
}
.logo{
	text-align:center;
	width:60%;
	margin:10px auto;
}
.centered{
	margin:0px auto;
	text-align:center;
}
.alertSettings, .trackSettings, .goalSettings{
	
	display:block;
	padding:5px 10px;
	margin-top:5px;
	font-size:15px;
	font-family:Yanone Kaffeesatz, Arial, Helvetica;
	text-shadow:none;
}
.alertSettings strong, .trackSettings strong, .goalSettings strong{
	background:#4581c2;
	color:#FFF;
	padding:3px;
	display:inline-block;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.alertSettings span, .trackSettings span, .goalSettings span{
	background:#f8981d;
	color:#FFF;
	padding:3px 5px;
	display:inline-block;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
.alertSettings .ui-grid-a{
	vertical-align:middle;
	text-align:center;
	padding:0px !important;
}
.alertSettings .ui-block-a{
	margin-top:3px;
}
.alertSettings .ui-grid-a .ui-btn{
	margin:0px;
}
.alertSettings .change-alerts{
	padding:3px 10px;
	margin:6px 0px;
	color:#000 !important;
	border:none;
}
.small{
	font-size:11px;
}

strong.alertlabel{
	margin-top:12px !important;
	display:block;
	/*vertical-align:middle;*/
}
.table-alerts{
	width:100%;
}
.ui-dialog-content{
	padding:10px;
}
#btnHome1, #btnHome2, #btnHome3 {
    background-color: transparent;
    color:#000 !important;
    border:0;
}
#btnSettings{
    background-color: transparent;
    border: 0;
}
.homebtn{
	min-height:65px;
	font-size:15px;
	text-align:left;
	/*padding-left:82px;*/
}
.clockpicker .ui-btn{
	padding:5px 10px !important;
}
.clockpicker .ui-input-text{
	padding:0px !important;
	display:inline-block !important;
	width:55% !important;
}

/*.homebtn span{
	font-size:12px;
	width:95%;
	display:inline-block;
	white-space: normal;
}*/

/*HOME PAGE - Custom Icons*/
.icon-alerts:after{
	/*content:'\f233';
	margin:-30px 0px 0px -10px;
	padding:3px 5px;
	font-family:'WebHostingHub-Glyphs';
	width:auto;
	height:auto;
	font-style:normal;
	background:none;
	font-size:40px;
	color:#FFF;
	color:#f8981d;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);*/
}
.icon-track:after{
	/*content:'\f208';
	margin:-30px 0px 0px -10px;
	padding:3px 5px;
	font-family:'WebHostingHub-Glyphs';
	width:auto;
	height:auto;
	font-style:normal;
	background:none;
	font-size:40px;
	color:#ffc423;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);*/
}
.icon-goal:after{
	/*content:'\f5eb';
	margin:-30px 0px 0px -10px;
	padding:3px 5px;
	font-family:'WebHostingHub-Glyphs';
	width:auto;
	height:auto;
	font-style:normal;
	background:none;
	font-size:40px;
	color:#ffd984;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);*/
}
.ui-icon-track:before{
	/*content:'\f208';
	font-family:'WebHostingHub-Glyphs';
	width:auto;
	height:auto;
	font-style:normal;
	padding:5px;
	background:none;*/
}

/*TOP / BOTTOM NAV*/
.top-nav .ui-btn{
	background:#003366 !important;
	color:#FFF !important;
	text-shadow:none !important;
	border:none !important;
}
.top-nav .ui-btn-active{
	background:#FFF !important;
	color:#000 !important;
	text-shadow:none !important;
	border:none !important;
}
.ui-icon-home:after{
	content:'\f233';
	font-family:'WebHostingHub-Glyphs';
	width:auto;
	height:auto;
	font-style:normal;
	padding:5px;
	background:none;
}
.ui-icon-alert:after{
	content:'\f233';
	font-family:'WebHostingHub-Glyphs';
	width:auto;
	height:auto;
	font-style:normal;
	padding:5px;
	background:none;
}
.ui-icon-goal:after{
	content:'\f5eb';
	font-family:'WebHostingHub-Glyphs';
	width:auto;
	height:auto;
	font-style:normal;
	padding:5px;
	background:none;
}
.ui-icon-track:after{
	content:'\f208';
	font-family:'WebHostingHub-Glyphs';
	width:auto;
	height:auto;
	font-style:normal;
	padding:5px;
	background:none;
}
.icon-goal p, .icon-track p, .icon-alerts p{
	font-family:Yanone Kaffeesatz, Arial, Helvetica;
	margin:0px;
	padding:0px;
	color:#00;
	text-shadow:none;
	text-shadow:2px 2px 2px rgba(0, 0, 0, 0.2);
}

/*Home Page Styles*/
.icon-goal h2, .icon-track h2, .icon-alerts h2{
	font-family:Yanone Kaffeesatz, Arial, Helvetica;
	text-transform:uppercase;
	font-size:18px;
	font-weight:bold;
	margin:0px;
	padding:0px;
	color:#000;
	text-shadow:none;
	text-shadow:2px 2px 2px rgba(0, 0, 0, 0.2);
}
.icon-alerts{
	/*background:#f8981d !important;*/
	background:transparent;
	background:rgba(255, 255, 255, 0.8) !important;
	border-radius:10px;
	border:none;
	margin:0px;
	padding:20px 5px;
	text-align:center;
}
.icon-track{
	/*background:#ffc423 !important;*/
	background:transparent;
	background:rgba(255, 255, 255, 0.8) !important;
	border-radius:10px;
	border:none;
	margin:0px;
	padding:20px 5px;
	text-align:center;
}
.icon-goal{
	/*background:#ffd984 !important;*/
	background:transparent;
	background:rgba(255, 255, 255, 0.8) !important;
	border-radius:10px;
	border:none;
	margin:0px;
	padding:20px 5px;
	text-align:center;
}

/*PAGE HEADERS*/
.icon-alerts-h2, .icon-track-h2, .icon-goal-h2{
	position:relative;
	margin:0px;
	padding:0px;
	display:table;
	width:100% !important;
	border-top:2px solid #444;
}
.icon-alerts-h2 h2, .icon-track-h2 h2, .icon-goal-h2 h2{
	font-family:Yanone Kaffeesatz, Arial, Helvetica;
	padding:5px 0px 0px 0px !important;
	margin:0px !important;
	color:#FFF;
	font-size:16px;
	text-shadow:none;
	text-align:left;
	text-transform:uppercase;
	text-shadow:none;
	width:75%;
	display:table-cell;
	vertical-align:middle;
	position:relative;
}
.icon-alerts-h2{
	background:#003366;
}
.icon-track-h2{
	background:#003366;
}
.icon-goal-h2{
	background:#003366;
}
.icon-alerts-h2, .icon-track-h2, .icon-goal-h2{
	margin:0px;
	padding:0px 0px;
	color:#FFF;
}
.icon-alerts-h2{
	color:#f8981d;
	color:#FFF;
}
.icon-track-h2{
	color:#ffc423;
	color:#FFF;
}
.icon-goal-h2{
	color:#ffd984;
	color:#FFF;
}
h2.icon-alerts-h2 span, h2.icon-track-h2 span, h2.icon-goal-h2 span{
	padding-top:0px !important;
	margin:0px;
	vertical-align: top;
}
.icon-alerts-h2 i:before, .icon-track-h2 i:before, .icon-goal-h2 i:before {
	font-size:23px;
	padding:10px 10px !important;
	margin:5px;
	display:inline-block;
	font-family:'WebHostingHub-Glyphs';width:auto;height:auto;font-style:normal;
	/*text-shadow:1px 1px 1px rgba(255, 255, 255, 0.6);*/
	text-shadow:none !important;
	position:relative;
	padding:5px 5px 5px 15px !important;
}
.icon-alerts-h2 i:before{
	content:'\f233';
}
.icon-track-h2 i:before {
	content:'\f208';
}
.icon-goal-h2 i:before {
	content:'\f5eb';
}

.settings-btn{
	display:table-cell;
	background: rgba(0,0,0,0.6) !important;
	background:#444 !important;
	background:#f8981d !important;
	margin:0px !important;
	right:0px;
	padding:10px 5px;
	top:0px;
	vertical-align:middle;
	width:25%;
	z-index:200;
	border-left:3px solid #FFF !important;
	border-top:none;
	border-right:none;
	font-size:13px;
	color:#FFF !important;
	text-shadow:none !important;
	overflow:visible;
	position:relative;
}
.settings-btn-placeholder{
	display:table-cell;
	margin:0px !important;
	right:0px;
	padding:10px 5px;
	top:0px;
	vertical-align:middle;
	width:25%;
	z-index:200;
	border-top:none;
	border-right:none;
	font-size:13px;
	color:#FFF !important;
	text-shadow:none !important;
	overflow:visible;
	position:relative;
}
.icon-alerts-h2 i.arrow:before, .icon-track-h2 i.arrow:before, .icon-goal-h2 i.arrow:before{
	content:'\f304';
	content:'\f473';
	background:#444;
	background:#f8981d;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	font-family:'WebHostingHub-Glyphs';
	width:auto;
	height:auto;
	font-style:normal;
	font-weight:normal !important;
	line-height:25px;
	padding:4px !important;
	margin:0px 0px 10px 0px;
	color:#FFF;
	z-index:300;
	text-shadow:none;
	position:absolute;
	/*border:1px solid #444 !important;*/
	left:-25px;
	top:7px;
}
.close{
	background-color:transparent !important;
	border:none;
	box-shadow: none;
}

/*ALTERNATING TABLES*/
.table-stripe tbody tr td,
.table-stripe tbody tr th {
  text-align:center;
}
/* Add alternating row stripes */
.table-stripe tbody tr:nth-child(odd) td,
.table-stripe tbody tr:nth-child(odd) th {
  background-color: rgba(255,255,255,0.1);
}
/* Add stroke to the header and last item */
.table-stripe thead th,
.table-stripe tbody tr:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
/*SPECIAL ROWS FOR THE FORM*/
.my-grid.ui-grid-a .ui-block-a { width: 25%;}
.my-grid.ui-grid-a .ui-block-b { width: 75%;}

/*DATE BOX STYLES*/
.ui-datebox-flipcontent .ui-body-a, .ui-datebox-flipcontent .ui-body-a{
	background:#FFF !important;
	border:3px solid #444;
}
.ui-datebox-flipcontent ul {
    border:1px solid rgba(0,0,0,0) !important;
}
.ui-datebox-flipcontent{
	background:#FFF !important;
}
.ui-datebox-flipcontent .navbar{
	background:#FFF !important;
}
.inner-shadow {
   -moz-box-shadow:    inset 0 2px 5px rgba(68,68,68,0.6);
   -webkit-box-shadow: inset 0 2px 5px rgba(68,68,68,0.6);
   box-shadow:         inset 0 2px 5px rgba(68,68,68,0.6);
}

.ui-panel-dark{
}
.ui-panel-inner{
	padding:0px;
	border:none;
}
.ui-panel-inny{
	padding:5px 15px;
	color:#FFF;
	text-shadow:none;
	font-size:12px;
}
.ui-panel-inny .ui-btn{
	background:#4581c2 !important;
	color:#FFF !important;
	text-shadow:none !important;
}

/*TRACK WATER PAGE*/

.oz4{
	background:url("../images/4oz.png") no-repeat center top;
}
.oz8{
	background:url("../images/8oz.png") no-repeat center top;
}
.oz10{
	background:url("../images/10oz.png") no-repeat center top;
}
.oz12{
	background:url("../images/12oz.png") no-repeat center top;
}
.oz16{
	background:url("../images/16oz.png") no-repeat center top;
}
.oz4, .oz8, .oz10, .oz12, .oz16{
	padding-top:100px;
	padding-left:12px;
	padding-right:12px;
}

#select-water-amount{
	width:100% !important;
	text-align:center;	
}
/*#select-water-amount .ui-btn{
	background-color:transparent !important;
	border:none;
	border-bottom:1px dashed #000;
}*/
.option-button{
	background:#f8981d !important;
	color:#FFF !important;
	text-shadow:none !important;
}
/* G - Black Sidebar Theme for jQuery Mobile
 * Available on: https://gist.github.com/4558649
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-g{border:1px solid #666;background:#444;color:#ccc;font-weight:bold;text-shadow:0 -1px 1px #000;background-image:-webkit-gradient(linear,left top,left bottom,from(#555),to(#444));background-image:-webkit-linear-gradient(#555,#444);background-image:-moz-linear-gradient(#555,#444);background-image:-ms-linear-gradient(#555,#444);background-image:-o-linear-gradient(#555,#444);background-image:linear-gradient(#555,#444)}.ui-bar-g,.ui-bar-g input,.ui-bar-g select,.ui-bar-g textarea,.ui-bar-g button{}.ui-bar-g .ui-link-inherit{color:#fff}.ui-bar-g a.ui-link{color:#7cc4e7;font-weight:bold}.ui-bar-g a.ui-link:visited{color:#2489ce}.ui-bar-g a.ui-link:hover{color:#2489ce}.ui-bar-g a.ui-link:active{color:#2489ce}.ui-body-g,.ui-overlay-g{border:1px solid #444;background:#333;color:#fff;text-shadow:0 1px 1px #111;font-weight:normal}.ui-overlay-g{background-image:none;border-width:0}.ui-body-g,.ui-body-g input,.ui-body-g select,.ui-body-g textarea,.ui-body-g button{}.ui-body-g .ui-link-inherit{color:#fff}.ui-body-g .ui-link{color:#2489ce;font-weight:bold}.ui-body-g .ui-link:visited{color:#2489ce}.ui-body-g .ui-link:hover{color:#2489ce}.ui-body-g .ui-link:active{color:#2489ce}.ui-btn-up-g{border:1px solid #111;background:#333;font-weight:bold;color:#eee;text-shadow:0 1px 1px #111}.ui-btn-up-g:visited,.ui-btn-up-g a.ui-link-inherit{color:#eee}.ui-btn-hover-g{border:1px solid #000;background:#2e2e2e;font-weight:bold;color:#eee;text-shadow:0 1px 1px #111}.ui-btn-hover-g:visited,.ui-btn-hover-g:hover,.ui-btn-hover-g a.ui-link-inherit{color:#eee}.ui-btn-down-g{border:1px solid #000;background:#222;font-weight:bold;color:#eee;text-shadow:0 1px 1px #111}.ui-btn-down-g:visited,.ui-btn-down-g:hover,.ui-btn-down-g a.ui-link-inherit{color:#eee}.ui-btn-up-g,.ui-btn-hover-g,.ui-btn-down-g{text-decoration:none}.ui-btn-up-g .ui-btn-inner,.ui-btn-hover-g .ui-btn-inner,.ui-btn-down-g .ui-btn-inner{border-top:1px solid #fff;border-color:rgba(255,255,255,.15)}
