<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "A8FETR73Y9.com.phonegap.gibsonswatertracker"
        versionCode = "10" 
        version     = "2" >
	
    <name>Gibson's Water Tracking</name>
    <description>
        Set water alerts and track your water goal progress.
    </description>

    <author href="https://build.phonegap.com" email="j_flottmeyer@voilamediagroup.com">
        John Flottmeyer
    </author>
    
    <gap:platform name="ios" />
    <!--<gap:platform name="android" />-->
    
    <!-- third party plugins -->
    <!--<gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" version="1.1.0" />-->
    <gap:plugin name="de.appplant.cordova.plugin.badge" version="0.6.2" />
	<gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.7.8" />
	<gap:plugin name="com.synsormed.plugins.healthkit" spec="0.3.5" source="pgb" />

    <!-- universal preferences -->
    <preference name="phonegap-version"           value="cli-5.2.0" />         
    <preference name="fullscreen"                 value="false" />
	
	<!-- ios preferences --> 
    
    <!-- ios icons -->
    <icon src="icons/ios/apple-touch-icon-57-precomposed.png" gap:platform="ios" width="57" height="57"/>
    <icon src="icons/ios/apple-touch-icon-72-precomposed.png" gap:platform="ios" width="72" height="72"/>
    <icon src="icons/ios/apple-touch-icon-114-precomposed.png" gap:platform="ios" width="114" height="114"/>
    
    <!-- android icons -->
    <!--icon src="icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />-->
    
	<!-- iPhone and iPod touch -->
	<!--<splash src="Default.png" platform="ios" width="320" height="480" />
	<splash src="Default@2x.png" platform="ios" width="640" height="960" />-->
	
	<!-- iPhone 5 / iPod Touch (5th Generation) -->
	<splash src="Default-568h@2x.png" platform="ios" width="640" height="1136" />
	
	<!-- iPhone 6 -->
	<!--<splash src="Default-667h@2x.png" platform="ios" width="750" height="1334" />-->
	<splash src="Default-Portrait-736h@3x.png" platform="ios" width="1242" height="2208" />
	<!--<splash src="Default-Landscape-736h@3x.png" platform="ios" width="2208" height="1242" />-->
	
	<!-- iPad -->
	<!--<splash src="Default-Portrait.png" platform="ios" width="768" height="1024" />
	<splash src="Default-Landscape.png" platform="ios" width="1024" height="768" />-->
	
	<!-- Retina iPad -->
	<!--<splash src="Default-Portrait@2x.png" platform="ios" width="1536" height="2048" />
	<splash src="Default-Landscape@2x.png" platform="ios" width="2048" height="1536" />-->

</widget>
