<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.watertack"
        versionCode = "10" 
        version     = "2" >
	
    <name>Gibsons Water Tracking</name>
    <description>
        Set water alerts and track your water goal progress.
    </description>

    <author href="https://build.phonegap.com" email="johnflottmeyer@gmail.com">
        John Flottmeyer
    </author>
    
    <gap:platform name="ios" />
    <gap:platform name="android" />
    
    <!-- third party plugins -->
    <gap:plugin name="com.phonegap.plugin.statusbar" />
    <gap:plugin name="de.appplant.cordova.plugin.badge" version="0.6.2" />
	<gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.7.8" />

    <!-- universal preferences -->
    <preference name="phonegap-version"           value="cli-5.2.0" />         
    <preference name="fullscreen"                 value="true" />
	
	<!-- ios preferences --> 
    <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->     
    <preference name="ios-statusbarstyle"         value="black-opaque" />
    
    <!-- ios icons -->
    <icon src="icons/ios/apple-touch-icon-57-precomposed.png" gap:platform="ios" width="57" height="57"/>
    <icon src="icons/ios/apple-touch-icon-72-precomposed.png" gap:platform="ios" width="72" height="72"/>
    <icon src="icons/ios/apple-touch-icon-114-precomposed.png" gap:platform="ios" width="114" height="114"/>
    
    <!-- android icons -->
    <!--icon src="icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />-->

</widget>
