<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.gibsonwater.tracker"
        version   = "1.0.0">
    <name>PhoneGapBuild Tester</name>

    <description>
        Track daily water intake and set reminders.
    </description>

    <author href="http://voilamediagroup.com" email="john@voilamediagroup.com">
        Voila! Media Group
    </author>

    <!-- third party plugins -->
    <gap:plugin name="org.apache.cordova.statusbar"/>

    <!-- universal preferences -->
    <preference name="phonegap-version"           value="3.3.0" />         
    <preference name="orientation"                value="default" />        
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    
    <!-- ios preferences -->
    <!-- control whether the screen 'bounces' when scrolled beyond the top --> 
    <preference name="ios-statusbarstyle"         value="black-opaque" />  

</widget>
